body {
    font-family: Arial;
    text-align: center;
    background: #222;
    color: white;
}

#gameArea {
    width: 800px;
    height: 400px;
    border: 3px solid white;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #2E8B57);
}

/* Bow */
#bow {
    width: 40px;
    height: 120px;
    background: brown;
    position: absolute;
    left: 20px;
    top: 140px;
    border-radius: 20px;
}

/* Arrow */
#arrow {
    width: 60px;
    height: 6px;
    background: black;
    position: absolute;
    left: 60px;
    top: 190px;
    display: none;
}

/* Target */
#target {
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 150px;
}
